@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap'); 

#chatwidget img{
    width: 10%;
}

.top-header{
    font-size: 25px;
    background: #f9fd01;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 0;
}

header div{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,d7dee3+51,f5f7f9+100 */
    /* background: #f6f8f9; *//* Old browsers 
    background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6-15 */
    /* background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); *//* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); IE6-9 */ */
}

div img {
    width: 25%;
}

main{
    width: 110.91%;  
    /* width: 80%;
    margin: 90px auto 40px auto;
    min-height: 200px; */
    display: flex;
    /* justify-content: space-between; */
    box-shadow: 2px 2px 20px -6px #333;
    border-radius: 15px;
}

main nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    list-style-position: outside;
}

main nav ul li{
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100&0.59+0,1+100;White+Gloss+%231 */
    background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0.59) 0%, rgba(241,241,241,0.8) 50%, rgba(225,225,225,0.8) 51%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0.59) 0%,rgba(241,241,241,0.8) 50%,rgba(225,225,225,0.8) 51%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(255,255,255,0.59) 0%,rgba(241,241,241,0.8) 50%,rgba(225,225,225,0.8) 51%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    /* background: #21f805d5; */
    padding: 10px;
    display: block;
}

main nav ul li a {
    padding: 15px 20px;
    color: #3358ff;
    text-decoration: none;
    text-shadow: 2px 2px 0px #fff;
}

main nav ul li a:hover{
    font-size: 17px;
    font-weight: 600;
    color: #ff3300;
    outline: 1px #0f0f0a;
    display: block;
    background: -moz-linear-gradient(-45deg,  rgba(255,0,255,0.59) 0%, rgba(241,241,0,0.8) 50%, rgba(225,225,0,0.8) 51%, rgba(0,246,246,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(255,0,255,0.59) 0%,rgba(241,241,0,0.8) 50%,rgba(225,225,0,0.8) 51%,rgba(0,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(255,0,255,0.59) 0%,rgba(241,241,0,0.8) 50%,rgba(225,225,0,0.8) 51%,rgba(0,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* nav A1 {
    padding: 40px;
    height: 400px;
    width: 20px;
    background-color: #ffffff;
} */


main section{
    width: 80%;
    background: rgb(255, 255, 255);
}

main section article{
    border: 3px solid #fff;
}

main section article h1{
    color: blue;
}

body{
    background-image: url('images/purty_wood.png');
}

footer {
    text-align: center;
}

div.chatwidget{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 10px;
}

